@import url(http://fonts.googleapis.com/css?family=Monda:400,700);
html, .pure-g [class*="pure-u"] {
  font-family: "Monda", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}
.header a {
  color: black;
}
.header a:hover {
  text-decoration: none;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.sidebar {
  background-color: #fcfcfc;
}

.content {
  padding: 2em 1em 0;
}

.pure-menu ul {
  display: none;
}

.pure-menu.pure-menu-open {
  border: none;
  background: none;
}

.l-box {
  padding: 1em;
}

.posts {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: 1px dashed gray;
}

a {
  color: gray;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

dl dd {
  margin-bottom: 20px;
}
dl h4 {
  margin: 10px 0 0 0;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .content {
    margin-left: 25%;
    padding: 2em 3em 0;
  }
}
